h1 = session[:user]
p = "Movies #{profile["movie"]}"
p = "Books #{profile["book"]}"
p = "Songs #{profile["song"]}"
p = "Favorite movie"
p = "Favorite book"
p = "Favorite song"
p = "Average rating : #{profile["rating"]}/10"